<h1>MovieVs.</h1>
<div class="row">
	<div class="col s3">
	<div class="row">
	<div class="col s12">
		<h2>Rank</h2>
		<div class="list" ng-repeat="movie in top track by $index" >
			<h5><a>{{movie.original_title}}</a></h5>
		</div>
	</div>
	</div>
</div>



	<div class="col s3 slide-in-bottom" ng-click="voteMovie1(movie1, movie2)">
        <div class="">
        	<div class="" >
          	<div class="">
            	<!-- <div class="card-image"> -->
              	<img class="image-size" ng-src="{{movie1.poster_path}}">
            <!-- </div> -->
            <div>
            	<h4>{{movie1.original_title}}
             	({{movie1.release_date}})</h4>
            </div>
              
          </div>
        </div>
       </div>
      </div>
  			<div class="col s2">
  			<img class="rotate-center vs" ng-src="img/vs2.png">
  			</div>
      <div class="col s3 slide-in-top" ng-click="voteMovie1(movie1, movie2)">	
      <div class="">
        <div class="">
          	
            	<div>
              	<img class="image-size" ng-src="{{movie2.poster_path}}">
            	</div>
            	<h4>{{movie2.original_title}}
             	({{movie2.release_date}})</h4>
            </div>
              
            </div>
          
   		</div>
   	</div>
   </div>

   	